<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.sadna.widgets.application"
      android:versionCode="50"
      android:versionName="0.5.0">

	<uses-permission android:name="android.permission.READ_CONTACTS"></uses-permission>
	<uses-permission android:name="android.permission.CALL_PHONE"></uses-permission>
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
	<uses-permission android:name="android.permission.GET_TASKS" />
	
    <uses-sdk android:minSdkVersion="7" android:targetSdkVersion="17" />
    
    <application android:icon="@drawable/icon" android:label="@string/app_name">
   		<provider
   		    android:name=".DataProvider"
            android:authorities="com.sadna.widgets.application.provider"
            android:multiprocess="true"
            android:grantUriPermissions="true"
            />
		<!-- Broadcast Receiver that will process AppWidget updates -->
		
		<receiver android:name=".sizes.ContactWidget_4_4" android:label="@string/widget4x4">
			<intent-filter>
				<action   
					android:name="android.appwidget.action.APPWIDGET_UPDATE" />
			</intent-filter>
			<intent-filter>
				<action   
					android:name="com.sadna.widgets.application.SNAPSHOT_UPDATE" />
			</intent-filter>
			<meta-data android:name="android.appwidget.provider"
				android:resource="@xml/contact_widget_provider4x4" />
			<meta-data android:name="LauncherMetadata.Requirements.APIVersion"
				android:value="2" />
			<meta-data android:name="LauncherMetadata.Requirements.Scrollable"
				android:value="true" />
		</receiver>		
		
		<activity android:name=".ConfigurationActivity">
			<intent-filter>
				<action android:name="com.sadna.widgets.application.PREFS" />
			</intent-filter>
		</activity>
		
		<!-- SERVICE COMPONENTS -->
		
		<activity android:name="com.sadna.service.serviceActivity"
			android:theme="@android:style/Theme.Translucent.NoTitleBar" >
			<intent-filter>
	            <action android:name="android.intent.action.MAIN" />
	            <category android:name="android.intent.category.LAUNCHER" />
	        </intent-filter>
	     </activity>
		
		<service android:name="com.sadna.service.StatisticsService">
		    <intent-filter>
				<action	android:name="com.sadna.service.StatisticsService" />
			</intent-filter>
		</service>
		
		<receiver android:name="com.sadna.service.serviceBootReciever">  
		    <intent-filter>  
		        <action android:name="android.intent.action.BOOT_COMPLETED" />  
		    </intent-filter>  
		</receiver>
		
		<!-- END OF SERVICE COMPONENTS -->
		
		<service android:name="ContactWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS"
            android:exported="false" />
		
    </application>
</manifest> 